.tooltip {
    position: relative;
    display: inline-block;
 
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: white;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 100;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    z-index: 100;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 10;
    background-color: white;
    color: #fff;
}

.box{
    background: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
}